.container__dostavka{
    margin: 0;
    padding: 15px 0 0;
    font-family: "Inter", sans-serif;
    color: #343434;
}
section.page-top{
    padding-left: 180px;
    padding-bottom: 0;
}
.main__dostavka-grey{
    padding: 30px 180px;
    background: #F8F8F8;
}
.main__dostavka-white{
    padding: 0 180px;
}
.title__dostavka{
    padding-left: 180px;
}
.header__top-part, .header__main-part, .footer__main-part{
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 1402px;
    max-width: var(--theme-page-width);
    max-width: calc(var(--theme-page-width) + calc(2 * var(--theme-page-width-padding)));
    width: 100%;
    padding-left: var(--theme-page-width-padding);
    padding-right: var(--theme-page-width-padding);
}
.maxwidth-theme{
    margin: 0!important;
    max-width: 10000px !important;
    padding-left: 0;
    padding-right: 0;
}
ol li{
    margin-bottom: 2px;
}
.section2 ol{
    padding-left: 20px;
}

.section1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr;
    column-gap: 20px;
    .main__dostavka-white{
        padding: 0 10px;
    }
    .main__dostavka-grey{
        padding: 30px 10px;
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
    .section1 img{
        padding-bottom: 20px;
    }
    .section2-top{
        display: flex;
        flex-direction: column;
    }
    .section2 img{
        padding-bottom: 20px;
    }
    .section2-top div{
        line-height: 20px;
    }
    .section3{
        display: flex;
        flex-direction: column;
    }
    .section3-text{
        padding-top: 0;
    }
    .section3 img{
        padding-bottom: 20px;
    }
    .section4{
        display: flex;
        flex-direction: column;
    }
    .section4 img{
        padding-bottom: 20px;
    }
    .section5{
        display: flex;
        flex-direction: column;
    }
    .section5 img{
        padding-bottom: 20px;
    }
    .br-block{
        display: block;
    }
    .section5-buttom{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 1fr;
        column-gap: 4%;
    }
    .btn-dostavka-1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .btn-dostavka{
        width: 100%;
    }
    .btn-dostavka-2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
}
.container{
    padding: 0;
}
.row{
    padding: 0;
}
.red-color{
    color: #EB9590;
}
.section1-h1{
    margin-top: 0;
    font-size: 21px;
    font-weight: 600;
}
.sec1-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 16px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.section1 img{
    height: 160px;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
}
.section1 p{
    margin: 0;
}
.text-alert-background{
    margin: 40px 0;
    background: #FFFFFF;
    color: #EB9590;
    border-left: 5px solid #EB9590;
}
.text-alert{
    font-size: 18px;
    font-weight: 600;
    padding: 11px 0 11px 35px;
}
.sec3_text-alert small{
    font-wight: 400;
    font-size: smaller;
}
.section2-top{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    grid-template-rows: 320px;
}
.section2-top img{
    max-height: 320px;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.section2-top div{
    font-size: 16px;
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 24px;
}
.section2-top h1{
    font-size: 18px;
    font-weight: 600;
}
.section3{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    grid-template-rows: 380px;
}
.section3-text{
    font-size: 16px;
    padding-top: 15%;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section3 a{
    color: #343434;
    font-size: 18px;
    padding: 5px 0;
    font-weight: 600;
    border-bottom: 1px solid #EB9590;
}
.section3-p{
    padding-top: 5px;
}
.section3 img{
    height: 380px;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.sec3_text-alert{
    grid-column: 1/3;
    grid-row: 2/3;
}
.section4{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 240px;
    column-gap: 20px;
}
.section4 div{
    font-size: 16px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section4 h2{
    font-size: 18px;
    font-weight: 600;
}
.section4 img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 240px;
}
.section5{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    grid-template-rows: 390px;
    font-size: 16px;
}
.section5 img{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 390px;
}
.section5 h1{
    margin: 0;
    padding-bottom: 3%;
    font-weight: 600;
    font-size: 18px;
}
.section5 p{
    margin: 10px 0;
    font-size: 16px;
}
.btn-dostavka{
    background: #EB9590;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
    height: 46px;
    width: 186px;
    border-radius: 8px;
    border: 2px solid #EB9590;
}
.section5-text{
    line-height: 24px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media(max-width: 1800px){
    .section2 img{
        height: 100%;
    }
    .section2 ol{
        margin: 10px 0;
    }
    .section2-top h1{
        margin: 5px 0;
    }
}
@media(max-width: 1600px){
    .main__dostavka-grey{
        padding: 50px 120px
    }
    .main__dostavka-white{
        padding: 0 120px;
    }
    .title__dostavka{
        padding-left: 120px;
    }
    section.page-top{
        padding-left: 120px;
    }
    .section4 h2{
        margin: 20px 0;
    }
    .br-block{
        display: none;
    }
    .section2-top div{
        line-height: 20px;
    }
}
@media(max-width: 1440px){
    .br-block{
        display: block;
    }
    .section1-h1{
        font-size: 18px;
    }
    .sec1-text{
        font-size: 16px;
    }
    .text-alert{
        font-size: 18px;
    }
    .section2-top div{
        line-height: 24px;
        font-size: 16px;
    }
    .section2-top h1{
        font-size: 18px;
    }
    .section3-text{
        line-height: 24px;
        font-size: 16px;
    }
    .section3 a{
        font-size: 18px;
    }
    .section4 div{
        font-size: 16px;
    }
    .section4 h2{
        font-size: 18px;
    }
    .section5 h1{
        font-size: 18px;
    }
    .section5 p{
        font-size: 16px;
    }
    .btn-dostavka{
        font-size: 16px;
    }
    section.page-top{
        padding-left: 80px;
    }
    .main__dostavka-grey{
        padding: 30px 80px;
        background: #F8F8F8;
    }
    .main__dostavka-white{
        padding: 0 80px;
    }
    .title__dostavka{
        padding-left: 80px;
    }
}
@media (max-width: 1240px) {
    .main__dostavka-grey{
        padding: 30px 40px;
        background: #F8F8F8;
    }
    .main__dostavka-white{
        padding: 0 40px;
    }
    .title__dostavka{
        padding-left: 40px;
    }
    section.page-top{
        padding-left: 40px;
    }
    .section2-top div{
        line-height: 20px;
    }
    .section3{
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        grid-template-rows: 470px;
    }
    .section3 img{
        height: 470px;
    }
}
@media(max-width: 1024px){
    .btn-dostavka{
        width: 156px;
    }
    .section5{
        column-gap: 10px;
    }
    .br-block{
        display: none;
    }
    .section2-top div{
        line-height: 16px;
    }
    .section5 h1{
        padding-bottom: 2%;
    }
}
@media(max-width: 991px){
    .img-desk{
        display: none;
    }
    .img-mob{
        display: block;
    }
    .main__dostavka-white{
        padding: 0 5px;
    }
    .main__dostavka-grey{
        padding: 30px 5px;
    }
    .title__dostavka{
        padding-left: 5px;
    }
    section.page-top{
        padding-left: 5px;
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
    .section1 img{
        padding-bottom: 20px;
    }
    .section2-top{
        display: flex;
        flex-direction: column;
    }
    .section2 img{
        padding-bottom: 20px;
    }
    .section2-top div{
        line-height: 20px;
    }
    .section3{
        display: flex;
        flex-direction: column;
    }
    .section3-text{
        padding-top: 0;
    }
    .section3 img{
        height: 400px;
        padding-bottom: 20px;
    }
    .section4{
        display: flex;
        flex-direction: column;
    }
    .section4 img{
        padding-bottom: 20px;
    }
    .section5{
        display: flex;
        flex-direction: column;
    }
    .section5 img{
        height: 300px;
        padding-bottom: 20px;
    }
    .br-block{
        display: block;
    }
    .section5-buttom{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 1fr;
        column-gap: 4%;
    }
    .btn-dostavka-1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .btn-dostavka{
        width: 100%;
    }
    .btn-dostavka-2{
        grid-row: 1/2;
        grid-column: 2/3;
    }
}