body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.container{
    background: #F8F8F8;
}
.container__oplata{
    font-size: 20px;
    padding: 40px 160px;
    background: #F8F8F8;
}
.main__oplata{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.img_1{
    display: block;
    grid-row: 1/1;
    grid-column: 1/1;
    height: 380px;
    width: 100%;
}
.img_1-mob{
    display: none;
}
.text_top{
    grid-column: 2/2;
    grid-row: 1/1;
    color: #343434;
}
.text-top-container h1{
    font-size: 24px;
    font-weight: 600;
}
.text-top-container{
    display: grid;
    line-height: 24px;
}
.text-top-container ul{
    padding-left: 40px;
}
.text-top-container li{
    list-style-type: disc;
}
.text-alert-background{
    border-radius: 10px;
    background: #FFFFFF;
    color: #EB9590;
}
.text-alert{
    line-height: 22px;
    margin: 0;
    padding: 10px 26px;
}
.min-text-alert{
    line-height: 16px;
    font-size: 12px;
    color: gray;
    margin: 0;
}
.text-bank-card{
    font-size: 24px;
}
.img_2{
    display: block;
    grid-row: 2/2;
    grid-column: 2/2;
    height: 380px;
    width: 100%;
}
.img_2-mob{
    display: none;
}
.text-bottom{
    grid-column: 1/1;
    grid-row: 2/2;
    color: #343434;
    line-height: 24px;
}
.icons{
    padding: 30px 20px 30px 0;
}
.icon_card-visa{
    height: 25px;
    width: 77px;
}
.icon_card-master_card{
    height: 25px;
    width: 42px;
}
.icon_card-mir{
    height: 25px;
    width: 71px;
}
.catalog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catalog h2{
    padding-bottom: 5px;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #EB9590;
}
.btn-catalog{
    color: #EB9590;
    background: white;
    font-weight: 600;
    font-size: 15px;
    height: 46px;
    width: 120px;
    border-radius: 8px;
    border: 2px solid #EB9590;
    margin-left: 90px;
}
.btn-catalog:hover{
    background-color:#EB9590;
    color: white;
    transition: 0.5s;
}
@media(max-width: 1600px){
    .img_1, .img_2{
        height: 350px;
    }
    .container__oplata{
        font-size: 16px;
        padding: 40px 120px;
    }
    .text-alert{
        line-height: 20px;
        padding: 15px 26px;
    }
    .icons{
        padding: 10px;
    }
}
@media (max-width: 1440px) {
    .text-top-container p, .text-top-container h1, .text-top-container li{
        margin: 5px 0;
    }
    .text-top-container ul{
        margin: 0;
    }
    .text-bank-card{
        margin: 10px 0;
    }
    .text-bottom p{
        margin: 13px 0;
    }
    .text-alert{
        line-height: 20px;
        padding: 10px 20px;
    }
    .icons{
        padding: 10px;
    }
}
@media(max-width: 1240px){
    .btn-catalog{
        margin-left: 40px;
    }
    .container__oplata{
        padding: 30px 40px;
    }
    .text-top-container p, .text-top-container h1, .text-top-container li{
        margin: 0;
    }
    .text-top-container ul{
        margin: 0;
    }
    .text-top-container h1{
        font-size: 20px;
    }
    .text-top-container{
        line-height: 20px;
    }
    .text-bank-card{
        font-size: 20px;
    }
    .icons{
        padding: 10px;
    }
    .main_oplata{
        row-gap: 30px;
    }
    .text-alert{
        padding: 10px;
    }
}
@media(max-width: 980px){
    .main__oplata{
        display:flex;
        flex-direction: column;
    }
    .container__oplata{
        padding: 50px 0;
    }
    .img_1, .img_2{
        display: none;
    }
    .img_1-mob, .img_2-mob{
        display: block;
    }
    .img_1-mob{
        width: 100%;
        height: 100%;
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .img_2-mob{
        padding-bottom: 30px;
        width: 100%;
        height: 100%;
        grid-column: 1/1;
        grid-row: 3/4;
    }
    .text-bottom{
        grid-column: 1/1;
        grid-row: 4/5;
    }
    .text_top{
        grid-column: 1/1;
        grid-row: 2/2;
        color: #343434;
    }
    .text-top-container p, .text-top-container h1{
        margin: 10px 0;
    }
    .text-top-container ul{
        font-size: 18px;
        margin: 0;
    }
    .text-top-container p{
        font-size: 18px;
    }
    .text-top-container h1{
        font-size: 24px;
    }
    .text-alert{
        padding: 15px 20px;
        font-size: 18px;
    }
    .icons{
        padding: 60px 10px;
    }
    .catalog h2{
        border-bottom: 3px solid #EB9590;
        width: 100%;
    }
    .btn-catalog{
        margin-left: 10px;
    }
}
@media(max-width: 600px){
    .img_1-mob, .img_2-mob{
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .catalog h2{
        width: 100%;
    }
    .btn-catalog{
        margin-left: 10px;
    }
    .text-top-container ul, .text-top-container p{
        font-size: 20px;
    }
    .text-alert{
        font-size: 20px;
    }
    .min-text-alert{
        font-size: 14px;
    }
    .catalog h2{
        font-size: 24px;
    }
    .text-bank-card{
        font-size: 24px;
    }
    .text-bottom p{
        font-size: 20px;
    }
    .icons{
        padding: 30px 0;
    }
    .icon_card-mir{
        height: 17px;
        width: 50px;
    }
    .icon_card-visa{
        height: 17px;
        width: 54px;
    }
    .icon_card-master_card{
        height: 17px;
        width: 29px;
    }
}
@media (max-width: 480px) {
    .catalog h2{
        font-size: 16px;
    }
    .btn-catalog{
        height: 35px;
        font-size: 12px;
        width: 80px;
    }
}